<% include ../partials/header %>

<div class="formWidth">
    <h1 class="text-center" style="padding-top: 0px; padding-bottom: 30px">Sign Up</h1>
    <form action="/register" method="post">
        
        <div class="form-group">
            <p class="text-center padded-text"><b>I am a </b></p>
        </div>
        <div class="radio-form">
            <div class="custom-control custom-radio custom-control-inline radio-input" style="margin-bottom: 10px;">
                <input class="custom-control-input radio-btn" type="radio" name="coach" id="option1" value="false" checked>
                <label class="custom-control-label" for="option1" style="padding-right:10px">Swimmer</label>
                
            </div>
            <div class="custom-control custom-radio custom-control-inline radio-input" style="margin-bottom: 10px;">
                <input class="custom-control-input radio-btn" type="radio" name="coach" id="option2" value="true"> 
                <label class="custom-control-label" for="option2">Coach</label>
            </div>
        </div>
        
        <div class="form-group">
            <input type="email" placeholder="email" name="email" class="form-control text-input" required>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" placeholder="first name" name="firstName" class="form-control text-input" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" placeholder="last name" name="lastName" class="form-control text-input" required>
            </div>
        </div>
        <div class="form-group">
            
            <input id="username" type="text" placeholder="username" name="username" class="form-control text-input" required>
            <div id="username-sub-text">
                
            </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="password" name="password" class="form-control text-input" pattern=".{5,}" required>
            <small>Must be at least 5 characters long</small>
        </div>
        
        <div class="form-group" id="formButton">
            <button  class="btn-block sqrbtn anmated-btn" style="height: 45px" disabled>Sign Up</button>
        </div>
        <a href="/" class="link-text link-colour">BACK</a>
        
    </form>
</div>

<% include ../partials/registerFooter %>
