    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </script>

    <script>
        $(document).ready(function(){
            var usernameForm = $('#coach-Username')
            var usernameSub = $('#coach-sub-text');
            usernameForm.bind('input', function(){
                var username = $("#coach-Username").val();
                if (username) {
                    getCoachSearch(username);
                }
                else {
                    $("#found-coaches").html("");
                }
            });
            
            
            function getCoachSearch(name) {
                 $.ajax({
                    method:"GET",
                    url:"/api/coacheswithusername/" + name
                }).done((data) => {
                    console.log(data);
                    var coachhtml = "";
                    data.forEach(function(coach){
                        var name = '<form onclick="this.submit()" action="/addCoach/'+ coach.username + '" method="post" class="searchBox" class="><a href=""><h5 class="card-title" style="padding-left: 10px">' + coach.firstName + " " + coach.lastName + '</h5>'
                        var cardtext = '<p class="card-text" style="padding-left: 30px; margin-top: -10px">' + coach.username + '</p></a></form>'
                        coachhtml = coachhtml + name + cardtext 
                    })
                    $("#found-coaches").html('<div class="card">' + coachhtml + '</div>')
                })
            }
        });
    </script>
    </body>
</html>