    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data-2012-2022.js" type="text/javascript"></script>
    
    <script>
    $(document).ready(function(){
        var searchbar = $("#searchInput")
        searchbar.bind('input', function(){
            var search = searchbar.val();
            if (search) {
                console.log(search);
                getSearchQuery(search);
            }
            else {
                $("#log-index").html("");
            }
        });
        
        function getSearchQuery(search) {
            $.ajax({
                method:"GET",
                url:"/logs/api/searchLogs/" + search
            }).done((data) => {
                if (data) {
                    $("#log-index").html("");
                    data.forEach((log) => {
                        var start = '<div class="col-md-4"><a href="/logs/' + log._id +'" style="text-decoration: none; color: black"><div class="card" style="margin: 10px; border-radius: 0px"><div class="card-body"><div class="dropdown show ellipsis-pull"><a class="ellipsis-a" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a><div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="/logs/' + log._id + '">VIEW</a><a class="dropdown-item" href="/logs/' + log._id + '/edit">EDIT</a><a class="dropdown-item" href="#">DELETE</a></div>'
                        var end = '</div><h5 class="card-title">' + moment(log.date).format('LL') + '</h5><h6 class="card-subtitle mb-2 text-muted">Created ' + moment.tz(log.created, "America/Toronto").format('LL') + '</h6><p class="card-subtitle mb-2 text-muted">' + log.comments.substring(0, 100) + '</p></div></div></a></div>'
                        $("#log-index").append(start + end);
                    })
                }
            })
        }
    });
    </script>
    </body>
</html>