<% include ./partials/header %>
<h1>Your Current Coaches</h1>
<ul>
    <% currentUser.swimmers.forEach(function(coach){ %>
        <li><%= coach.firstName %> <%= coach.lastName %></li>
    <% }) %>
</ul>

<!--<form action="/addCoach" method="post">-->
    <p>Find Your Coach</p>
    <div class="form-group">

            <input id="coach-Username" class="form-control" type="text" placeholder="Coach Name" name="username">
            <div id="coach-sub-text">
                
            </div>
            <div id="found-coaches">
                
            </div>
        
        
        
    </div>
<!--</form>-->

<% include ./partials/addCoachfooter %>
