<% include ./partials/header %>
<% if (currentUser.team.id == null) { %>
    <h1 class="text-center padded-title">You aren't part of a team yet</h1>
    <hr style="width: 300px">
    <p class="text-center padded-text" >In order to be a coach you must be part of a team </p>
    <p class="text-center padded-text" >Join or create a team <a href="/team">here</a> </p>
<% } else if (swimmers.length == 0) { %>
    <p>There no swimmers</p>
<% } else { %>
<h1>Your Swimmers</h1>
    <ul>
        <% swimmers.forEach((swimmer) => { %>
            <li><a href="/swimmer/<%= swimmer.id %>/<%= swimmer.username %>/logs"><%= swimmer.firstName %> <%= swimmer.lastName %></a></li>
        <% }) %>
    </ul>
<% } %>
<% include ./partials/footer %>