<% include ./partials/header %>
<h1>This is the home page</h1>
<% if (!currentUser){ %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
<% } else { %>
    <a href="/logs">Logs</a>
<% } %>
<% include ./partials/footer %>
