<% include ./partials/header %>
<h1>Join a team</h1>
<form action="/team/join" method="post">
    <input type="text" placeholder="Team Password" name="teamPassword">
    <button>Join Team</button>
</form>
<% include ./partials/footer %>