<% include ./partials/header %>

<h1>New Log</h1>
<form action="/logs" method="POST">
    <div class="form-group">
        <input class="form-control" type="date" name="date" value="<%= moment(Date.now()).format('YYYY-MM-DD') %>" required>
    </div>
    <div class="form-group">
        <label>Todays Meals</label>
        <textarea rows="10" class="form-control" name="food" placeholder="food" required></textarea>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label>Sleep Hour</label>
            <input class="form-control" type="text" name="sleepHour" placeholder="sleepHour" value ="21:00" required >
        </div>
        <div class="col-md-6">
            <label>Wake Hour</label>
            <input class="form-control" type="text" name="wakeHour" placeholder="wakeHour" value ="06:00" required>
        </div>
    </div>
    <div class="form-group">
        <label for="">Cups of water</label>
        <input class="form-control"type="number" name="water" placeholder="4" required>
    </div>
    <div class="form-group">
        <label>Practice</label>
        <textarea  rows="10" class="form-control" name="practice" placeholder="practice" required></textarea>
    </div>
    <div class="form-group">
        <label>Comments</label>
        <textarea rows="10" class="form-control" name="comments" placeholder="comments" required></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-large btn-default btn-block btn-primary">Create Log</button>
    </div>
</form>

<% include ./partials/footer %>
