<h1>Create A New Team</h1>
<form action="/team" method="post">
    <input type="text" placeholder="Team Name" name="teamName">
    <input type="text" placeholder="Password" name="teamPassword">
    <button>Create Team</button>
</form>