<% include ./partials/header %>

<h1><%= swimmer.firstName %> <%= swimmer.lastName %></h1>
<ul>
<% logs.forEach((log) => { %>
    <li><a href="/logs/<%= log._id %>"><%= moment(log.date).format('LL') %></a></li>
<% }) %>
</ul>

<% include ./partials/footer %>

