body {
    font-family: 'Nunito Sans', sans-serif;
}

.formWidth {
    max-width: 500px;
    margin: 25px auto;
}

.radio-label {
   display: inline-block;
    vertical-align: top;
    margin-right: 3%;
}
.radio-input {
   display: inline-block;
   width: 100px;
}

.radio-form {
    margin-left: 28%;
}

.radio-input input:checked{
    background-color: orange;
}

.username-good:focus{
    color: #2ecc71;
}

.username-taken:focus {
    color: #e74c3c;
}

.username-good {
    color: #2ecc71;
}

.username-taken {
    color: #e74c3c;
}


.searchBox:hover {
    background-color: #ecf0f1;
    cursor: pointer;
}


.titleimg {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 100px;
}

.swim-icon {
    width: 70px;
}

.padded-title {
    padding-top: 50px;
    color: #34495e;
}

.padded-text {
    max-width: 65%;
    color: #34495e;
    display: block;
    margin: 0px auto;
}

.link-text {
    letter-spacing: 3px;
    text-decoration: none;
}

.link-text:hover {
    letter-spacing: 3px;
    text-decoration: none;
}

.link-colour {
    color:#bdc3c7;
}

.link-colour:hover {
    color:#95a5a6;
}


.small-hr {
    width: 300px;
}

.sqrbtn {
    background-color: #34495e;
    color: white;
    display: block;
    margin: 40px auto;
}


.sqrbtn:hover {
    background-color: #262626;
    cursor: pointer;
}

.sqrbtn:disabled {
    background-color: #262626;
    color: #bdc3c7;
    display: block;
    margin: 40px auto;
}
.anmated-btn {
    transition: 0.3s ease-in-out;
}

.text-input {
    border: 0px #262626 solid;
    border-bottom-width: 1px;
    border-radius: 0;
    border-color: #34495e;
    box-shadow: 0px 0px 0px 0px;
    outline: 0 none;
    padding-bottom: -100px;
}

.text-input:focus {
    border: 0px #262626 solid;
    border-bottom-width: 1px;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
    outline: 0 none;
}

.text-area {
    border: 1px #262626 solid;
    border-radius: 0;
    border-color: #34495e;
    box-shadow: 0px 0px 0px 0px;
    outline: 0 none;
    padding-bottom: -100px;
}

.text-area:focus {
    border: 1px #262626 solid;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
    outline: 0 none;
}
.page-header {
    letter-spacing: 12px;
    text-decoration: none;
    color: #34495e;
}
.hr-header {
    width: 200px;
    padding-bottom: 20px;
}
#coachButton {
    background-color:red;
    color: blue;
}

.log-icon {
    display: inline-block;
}

.log-icon-color {
    color: #7f7f7f;
}
.log-icon-color:hover {
    color: #34495e;
}
.animated-icon {
    transition: 0.3s ease-in-out;
}

#home-icon {
    width: 40px !important;
    height: 40px !important;
}

#plus-icon {
    width: 35px !important;
    height: 35px !important;
    margin: 0px 20px 5px 20px;
}

#search-icon {
    width: 35px !important;
    height: 35px !important;
    margin-bottom: 5px;
}

.ellipsis-pull {
    float: right;
}

.ellipsis-a {
    text-decoration: none;
    color: #7f7f7f;
}


.log-title {
    margin-left: 50px;
    color: #34495e;
}

.log-text {
    color: #7f7f7f;
}