<% include ../partials/header %>

<img src="../images/swimLog.png" class="titleimg">

<h1 class="text-center padded-title">Become Your Best</h1>
<hr class="small-hr">
<p class="text-center padded-text">Welcome to the swim log, this is web app designed for swimmers and coaches to keep track of their own habits and routines to become they best swimmers posssible.</p>
<% if (!currentUser){ %>
    <a href="/register" class="link-text"><button class="sqrbtn anmated-btn" style="width: 300px; height: 50px;">SIGN UP</button></a>
<% } else { %>
    <a href="/logs" class="link-text"><button class="sqrbtn anmated-btn" style="width: 300px; height: 50px;">LOG</button></a>
<% } %>
<!--</div>-->
<!--    <div class="home-page-group-back">-->
<!--        <div  class="text-center group-text">-->
<!--            TEST-->
<!--        </div>-->
<!--    </div>-->
<!--<div class="container">-->
<% include ../partials/footer %>