<% include ../partials/header %>
<div class="text-center" style="margin-top: 25px; margin-bottom: 30px">
    <a href="/logs" class="log-icon-color animated-icon"><i class="fas fa-home log-icon" id="home-icon"></i></a>
    <a href="/logs/new" class="log-icon-color animated-icon"><i class="fas fa-plus log-icon" id="plus-icon"></i></a>
    <a href="/logs" class="log-icon-color animated-icon"><i class="fas fa-search log-icon" id="search-icon" style="color:#34495e;"></i></a>
</div>
    
<h1 class="log-title text-center" style="margin-left:0px;">Search Logs</h1>
<hr class="hr-header">


<% include ../partials/footer %>
